Plugins>Learn Fiji with Sian>Fiji basics, "Exploring images", Exploring_images
Plugins>Learn Fiji with Sian>Fiji basics, "Image properties", Image_Info
Plugins>Learn Fiji with Sian>Hyperstacks, "Hyperstack manipulation: colour", Hyperstack_colour
Plugins>Learn Fiji with Sian>Hyperstacks, "Hyperstack manipulation: z", Hyperstack_z