Plugins>Learn Fiji with Sian>1. Fiji basics, "Exploring images", Exploring_images
Plugins>Learn Fiji with Sian>1. Fiji basics, "Image properties", Image_Info

Plugins>Learn Fiji with Sian>2. Hyperstacks, "Hyperstack manipulation: channels", Hyperstack_colour
Plugins>Learn Fiji with Sian>2. Hyperstacks, "Hyperstack manipulation: z", Hyperstack_z
Plugins>Learn Fiji with Sian>2. Hyperstacks, "Hyperstack manipulation: time", Hyperstack_time

Plugins>Learn Fiji with Sian>3. Image processing and analysis, "Filtering", Filtering_
Plugins>Learn Fiji with Sian>3. Image processing and analysis, "Measuring", Measuring_
Plugins>Learn Fiji with Sian>3. Image processing and analysis, "Thresholding", Thresholding_

Plugins>Learn Fiji with Sian>4. Preparing figures, "Scale bars and annotations", ScaleBars_Annotations
Plugins>Learn Fiji with Sian>4. Preparing figures, "Look-up tables and colour", LUTs_and_colour

Plugins>Learn Fiji with Sian>5. Handy tips and tricks, "Opening and saving", Opening_saving
Plugins>Learn Fiji with Sian>5. Handy tips and tricks, "Managing lots of images", Managing_images
Plugins>Learn Fiji with Sian>5. Handy tips and tricks, "Recording", Recording_

Plugins>Learn Fiji with Sian>6. Open test images, "Fluocells_mitotracker_actin_DAPI", Open_FluoCells
Plugins>Learn Fiji with Sian>6. Open test images, "mitosis (ImageJ sample image)", Open_Mitosis
Plugins>Learn Fiji with Sian>6. Open test images, "NLS_pombe_high", Open_Pombe_High
Plugins>Learn Fiji with Sian>6. Open test images, "NLS_pombe_low", Open_Pombe_Low
Plugins>Learn Fiji with Sian>6. Open test images, "Nup60_pombe_z-stack", Open_Pombe_ZStack

Plugins>Learn Fiji with Sian>7. About this plugin, "About", About_
